<!DOCTYPE html>
<html
    lang="vi"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div id="footer" th:fragment="footer">
            <p>Địa chỉ: Đường Nghiêm Xuân Yêm - Đại Kim - Hoàng Mai - Hà Nội</p>
            Điện thoại hỗ trợ kỹ thuật:(04) 355 92 678 website
            <a href="http://www.thanglong.edu.vn"
                >http://www.thanglong.edu.vn</a
            >
            mail:
            <a href="">p.cntt@thanglong.edu.vn.</a>
        </div>
    </body>
</html>
