<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
    <link rel="shortcut icon" href="http://cdn.onlinewebfonts.com/svg/download_153418.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="shortcut icon"
        href="https://th.bing.com/th/id/OIP.7ygufrwv0ZC8FpCGIlV5RAHaHa?pid=ImgDet&w=221&h=221&c=7&dpr=1.25"
        type="image/x-icon" />
</head>

<body>
    <div class="center" th:fragment="header">
        <div class="logo"></div>
        <div class="right">
            <b>Chào
                <span style="color: red" th:text="|${user.name} (${student.id})|"></span>
            </b>
            |
            <a th:href="@{/doimatkhau}">Đổi mật khẩu</a>
            |

            <!-- <form style="display: none" id="myform" th:action="@{/logout}" method="post"></form>
            <a onclick="document.getElementById('myform').submit();">Đăng xuất</a></br> -->

            <a th:href="@{/login}">Đăng xuất</a></br>
            |

            Chức vụ :
            <strong>
                <span style="color: brown" th:text="${user.permissions}"></span>
            </strong>
            &ensp;
            Tình Trạng :
            <strong>
                <span style="color: brown" th:text="${student.trangThai}"></span>
            </strong>

        </div>
        <div class="maquee">
            <a href="#" style="color: red">Để nhận hỗ trợ từ hệ thống, đăng kí địa chỉ email, số điện
                thoại!</a>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a th:href="@{/dangkihoc}" class="avtice">Trang chủ đăng kí học</a>
                </li>
                <li>
                    <a href="#">Trang chủ nhà trường</a>
                </li>
                <li>
                    <a href="#">Trang chủ đào tạo</a>
                </li>
                <li>
                    <a href="#" class="msg">Có 0 tin báo mới</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="left" th:fragment="sidebar">
        <ul>
            <li>
                <h3 class="title">Toàn trường</h3>
                <ul>
                    <li>
                        <a th:href="@{/thoikhoabieutoantruong}">Thời khóa biểu toàn trường</a>
                    </li>

                </ul>
            </li>
            <li>
                <h3 class="title">Góc sinh viên</h3>
                <ul class="sub-menu" style="display: block">
                    <li>
                        <a th:href="@{/thongtincanhan}">Thông tin cá nhân</a>
                    </li>
                    <div th:if="${user.permissions == 'ROLE_Student'}">
                        <li><a th:href="@{/dangkimonhoc}">Đăng kí học </a></li>
                        <li><a th:href="@{/bangdiem}">Bảng điểm</a></li>
                        <li><a th:href="@{/lichthichinhthuc}">Lịch thi chính thức</a></li>

                    </div>

                    <div th:if="${user.permissions == 'ROLE_Teacher'}">
                        <li><a th:href="@{/quanlilophoc}">Quản lí lớp học</a></li>
                        <li><a th:href="@{/quanliSV}">Danh sách sinh viên chủ nhiệm</a></li>

                    </div>

                    <div th:if="${user.permissions == 'ROLE_TrainingDepartment'}">
                        <li><a th:href="@{/quanlisinhvien}">Quản lí sinh viên</a></li>
                        <li><a th:href="@{/quanligiaovien}">Quản lí giáo viên</a></li>
                        <li><a th:href="@{/quanlichuyennganh}">Quản lí chuyên ngành</a></li>
                        <li><a th:href="@{/quanlimonhoc}">Quản lí môn học</a></li>
                        <li><a th:href="@{/laplichthi}">Lập lịch thi</a></li>
                        <li><a th:href="@{/phanconggiangday}">Phân công giảng dạy</a></li>
                        <li><a th:href="@{/thongke}">Thống kê</a></li>

                    </div>

                    <div th:if="${user.permissions == 'ROLE_Admin'}">
                        <li><a th:href="@{/quanlisinhvien}">Quản lí sinh viên</a></li>
                        <li><a th:href="@{/quanligiaovien}">Quản lí giáo viên</a></li>
                        <li><a th:href="@{/quanlichuyennganh}">Quản lí chuyên ngành</a></li>
                        <li><a th:href="@{/quanlimonhoc}">Quản lí môn học</a></li>
                        <li><a th:href="@{/thongke}">Thống kê</a></li>
<!--                        <li><a th:href="@{/quanlyuser}">Quản lí người dùng</a></li>-->
                    </div>

                </ul>
            </li>
        </ul>
    </div>

    <div id="footer" th:fragment="footer">
        <p>Địa chỉ: Đường Nghiêm Xuân Yêm - Đại Kim - Hoàng Mai - Hà Nội</p>
        Điện thoại hỗ trợ kỹ thuật:(04) 355 92 678 website
        <a href="http://www.thanglong.edu.vn">http://www.thanglong.edu.vn</a>
        mail:
        <a href="">p.cntt@thanglong.edu.vn.</a>
    </div>
</body>

</html>