.fr {
    background: url(images/menu2.png) white;
    color: #333;
    border: 1px solid #ccc;
    padding: 1px 10px;
    margin: 0;
}
.tablesv {
    width: 760px;
    margin: auto;
}

.tablesv a {
    color: #06f;
}

.tablesv a:hover {
    text-decoration: underline;
}

.tablesv th {
    background: #6595c2;
    color: #fff;
    padding: 2px;
}

.tablesv td {
    border-bottom: 1px dotted #ccc;
    background: #fff;
}
.grid {
    text-align: left;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: hidden;
    background: #fff;
    font-size: 15px;
}

.grid th {
    margin-top: 0px;
    border: 0;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: White;
    background: #6296c5;
    padding: 2px;
}

.grid tr td {
    font-size: 85%;
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;
}
