.grid {
    text-align: left;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: hidden;
    background: #fff;
}

.grid th {
    margin-top: 0px;
    border: 0;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: White;
    background: #6296c5;
    padding: 2px;
}

.grid tr td {
    font-size: 85%;
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;
}

.update {
    display: none;
}


.update {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.table {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 500px;
    line-height: 1;


    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: #f2f2f2;

}
/* input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

} */



#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h4 {
    padding-left: 20px;
    padding-top: 10px;
}

/* label {
    font-size: 14px;
} */