#add {
    font-size:20px;
    background-color:green;
    color:white;
    border-radius: 4px ;
    margin-bottom: 20px;
}
.grid {
    text-align: left;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: hidden;
    background: #fff;
}

.grid th {
    margin-top: 0px;
    border: 0;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: White;
    background: #6296c5;
    padding: 2px;
}

.grid tr td {
    font-size: 85%;
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;
}




.entry1 {
    display: none;
}


.entry1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.add1{
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    
}

.table2 {
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 730px;
    line-height: 1;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    

}
.div{
    margin-top:10px;
}
#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chiTiet{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    
}

.table {
    justify-content: center;
    margin: auto;
    margin-top:100px;
    width: 30%;
    height: 530px;
    line-height: 1;


    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    

}
.table tr td {
    padding-top:15px;
    font-size:20px;
}