#add {
    font-size:20px;
    background-color:green;
    color:white;
    border-radius: 4px ;
}
.grid {
    text-align: left;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: hidden;
    background: #fff;
}

.grid th {
    margin-top: 0px;
    border: 0;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: White;
    background: #6296c5;
    padding: 2px;
}

.grid tr td {
    font-size: 85%;
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;
}
.add1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    padding-top:4px;


}

.table2 {
    justify-content: center;
    margin: auto;
    width: 30%;
    line-height: 1;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:3px;

}
#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.div{
    /* margin-top:5px; */
}
.capNhat {
    padding-top: 10px;
    font-size: 13px;
    display: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}
.capNhat1 {
    justify-content: center;
    margin: auto;
    width: 30%;
    line-height: 1;
    height: 530px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;

}
input[type=text],
select {
    width: 100%;
    padding: 8px 16px;
    /* margin: 6px 0; */
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=number],
select {
    width: 100%;
    padding: 8px 16px;
    /* margin: 6px 0; */
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

