.grid {
    text-align: left;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: hidden;
    background: #fff;
    font-size: 15px;
}

.grid th {
    margin-top: 0px;
    border: 0;
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-weight: bold;
    color: White;
    background: #6296c5;
    padding: 2px;
}

.grid tr td {
    font-size: 85%;
    border-bottom: 1px dotted #ccc;
    padding: 3px 4px;
}

.chiTiet,
.danhGia {
    display: flex;
}

.update {
    display: none;
}

img {
    height: 200px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

.chiTiet,
.danhGia {
    display: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.table {
    justify-content: center;
    margin: auto;
    width: 30%;
    margin-top: 100px;
    height: 530px;
    line-height: 1;
    padding-top: 10px;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    font-size: 18px;
    padding-left: 25px;
}
.table tr td {
    padding-top: 25px;
}

h4 {
    padding-left: 20px;
    padding-top: 10px;
}

label {
    font-size: 14px;
}

#div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
