<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User:</h1>
<div th:object="${user}">
    <p th:text="|username: *{username}|"></p>
    <p th:text="|password: *{password}|"></p>
    <p th:text="|permissions: *{permissions}|"></p>
    <p th:text="|name: *{name}|"></p>
    <p th:text="|address: *{address}|"> address </p>
    <p th:text="|email: *{email}|"></p>
    <p th:text="|phoneNumber *{phoneNumber}|"></p>
    <p th:text="|peopleID *{peopleID}|"> </p>
    <p th:text="|birthday *{birthday}|"> </p>
    <img th:src="|*{avatar}|"/>
    <p th:text="|sex *{sex}|"> </p>
</div>

<div th:object="${student}">
    <p th:text="| id *{id}|"></p>
    <p th:text="|ChuyenNganhId *{ChuyenNganhId}|"> </p>
    <p th:text="|giaoVienId *{giaoVienId}|"> </p>
    <p th:text="|userId *{userId}|"> </p>

</div>
</body>
</html>