<!DOCTYPE html>
<html
  lang="vi"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head
    th:replace="template/template.html :: head('TRƯỜNG ĐẠI HỌC THĂNG LONG')"
  ></head>

  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/style/dangkihoc.css}" />
    <link rel="stylesheet" th:href="@{/style/quanlisinhvien.css}" />
  </head>

  <body>
    <div id="head">
      <div th:replace="template/template.html :: header"></div>

      <div id="page">
        <div th:replace="template/template.html :: sidebar"></div>
        <div id="right">
          <div class="title">Quản lí sinh viên</div>
          <div class="entry">
            <button id="add">Thêm sinh viên +</button>

            <div style="display: none" class="add1">
              <form
                class="table2"
                th:action="@{/dangKiSinhVien}"
                th:object="${newUser}"
                method="post"
              >
                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example3c">
                      permissions:
                    </label>
                    <select class="select" th:field="*{permissions}">
                      <option value="ROLE_Student" selected>Student</option>
                    </select>
                    <a
                      href=""
                      style="color: red; font-size: 19px; margin-left: 220px"
                      >X</a
                    >
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >name:
                    </label>
                    <input
                      required
                      minlength="2"
                      maxlength="50"
                      type="text"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{name}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >address:
                    </label>
                    <input
                      required
                      minlength="3"
                      maxlength="100"
                      type="text"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{address}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >email:
                    </label>
                    <input
                      required
                      minlength="3"
                      maxlength="45"
                      type="email"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{email}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >phoneNumber:
                    </label>
                    <input
                      required
                      minlength="3"
                      maxlength="50"
                      type="text"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{phoneNumber}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >peopleID:
                    </label>
                    <input
                      required
                      minlength="3"
                      maxlength="50"
                      type="text"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{peopleID}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >birthday:
                    </label>
                    <input
                      required
                      minlength="3"
                      maxlength="50"
                      type="date"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{birthday}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example4c"
                      >avatar:
                    </label>
                    <input
                      required
                      minlength="3"
                      type="url"
                      id="form3Example4c"
                      class="form-control form__input"
                      th:field="*{avatar}"
                    />
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example3c">
                      sex:
                    </label>
                    <select class="select" th:field="*{sex}">
                      <option value="Nam">Nam</option>
                      <option value="Nu">Nu</option>
                    </select>
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example3c">
                      Specialized :
                    </label>
                    <select class="select" name="chuyenNganh">
                      <th:block th:each="specializeds : ${listSpecialized}">
                        <th:block
                                th:if="${specializeds.id != 'AD'&& specializeds.id != 'DT'}">
                          <option
                                  th:value="${specializeds.id}"
                                  th:text="${specializeds.name}"
                          ></option>
                        </th:block>
                      </th:block>
                    </select>
                  </div>
                </div>

                <div class="div">
                  <div>
                    <label class="form-label" for="form3Example3c">
                      Teacher :
                    </label>
                    <select class="select" name="gvcn">
                      <option
                        th:each="teacher : ${listTeacher}"
                        th:value="${teacher.key}"
                        th:text="${teacher.value}"
                      ></option>
                    </select>
                  </div>
                </div>

                <div>
                  <button id="submit" type="submit" class="btn">
                    Register
                  </button>
                </div>
              </form>
            </div>

            <br />

            <div>
              <table
                class="grid table-bordered table-striped"
                border="0"
                cellspacing="0"
                style="
                  border-style: none;
                  width: 100%;
                  border-collapse: collapse;
                "
                id="employeeTable"
              >
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã sinh viên</th>
                    <th scope="col">Tên sinh viên</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="student, iStat : ${listStudent}">
                    <td th:text="${iStat.index+1}"></td>
                    <td th:text="${student.id}"></td>
                    <td
                      th:text="${userRepository.findById(student.getUserId()).get().getName()}"
                    ></td>
                    <td th:text="${student.trangThai}"></td>
                    <td>
                      <button class="btnChiTiet">
                        Xem chi tiết
                        <div class="chiTiet" style="display: none">
                          <table class="table">
                            <tr>
                              <td width="40%">Mã sinh viên :</td>
                              <td th:text="${student.id}"></td>
                            </tr>
                            <tr>
                              <td width>Họ tên :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().name}"
                              ></td>
                            </tr>
                            <tr>
                              <td width>Giới tính :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().sex}"
                              ></td>
                            </tr>
                            <tr>
                              <td width>Ngày sinh :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().birthdayStr}"
                              ></td>
                            </tr>
                            <tr>
                              <td width>Điện thoại :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().phoneNumber}"
                              ></td>
                            </tr>
                            <tr>
                              <td width>Email :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().email}"
                              ></td>
                            </tr>
                            <tr>
                              <td width>Chỗ ở :</td>
                              <td
                                th:text="${userRepository.findById(student.getUserId()).get().address}"
                              ></td>
                            </tr>
                            <tr>
                              <td>
                                <img
                                  style="
                                    width: 150px;
                                    height: 150px;
                                    object-fit: cover;
                                  "
                                  th:src="${userRepository.findById(student.getUserId()).get().avatar}"
                                />
                              </td>
                              <td>
                                <a href=""
                                  ><button style="margin-top: 40px">
                                    Đóng
                                  </button></a
                                >
                              </td>
                            </tr>
                          </table>
                        </div>
                      </button>
                      <button class="btnCapNhat">
                        Cập nhật trạng thái
                        <div style="display: none" class="capNhat">
                          <form
                            
                            th:action="@{/capNhatTrangThai/{index}(index=${iStat.index})}"
                            th:object="${student}"
                            method="post"
                          >
                            <select class="select" th:field="*{trangThai}">
                              <option value="Bình thường" selected>
                                Bình thường
                              </option>
                              <option value="Đã nghỉ" selected>Đã nghỉ</option>
                              <option value="Đã tốt nghiệp" selected>
                                Đã tốt nghiệp
                              </option>
                              <option value="Đang bảo lưu" selected>
                                Đang bảo lưu
                              </option>
                            </select>
                            <input type="submit"
                                    ></input>
                          </form>
                        </div>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div th:replace="template/template.html :: footer"></div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"
  ></script>
  <script>
    $(document).ready(function () {
      $("#employeeTable").DataTable({
        aoColumnDefs: [
          {
            bSortable: false,
            aTargets: [-1],
          },
        ],
      });
    });
  </script>

  <script>
    const btnAdd = document.getElementById("add");
    const divAdd = document.querySelector(".add1");

    btnAdd.addEventListener("click", () => {
      if (divAdd.style.display == "block") {
        divAdd.style.display = "none";
      } else {
        divAdd.style.display = "block";
      }
    });
  </script>

  <script>
    const buttonUpdate = document.querySelectorAll(".btnChiTiet");
    const chitiet = document.querySelectorAll(".chiTiet");

    const btnCapNhat = document.querySelectorAll(".btnCapNhat");
    const capNhat = document.querySelectorAll(".capNhat");

    for (let i = 0; i < buttonUpdate.length; i++) {
      buttonUpdate[i].addEventListener("click", function (e) {
        if (chitiet[i].style.display == "block") {
          chitiet[i].style.display = "none";
        } else {
          chitiet[i].style.display = "block";
        }
      });

      btnCapNhat[i].addEventListener("click", function (e) {
        capNhat[i].style.display = "block";
        /*if (capNhat[i].style.display == "block") {
                } else {
                    capNhat[i].style.display = "block";
                }*/
      });
    }
  </script>
</html>
