<!DOCTYPE html>
<html
        lang="vi"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head
        th:replace="template/template.html :: head('TRƯỜNG ĐẠI HỌC THĂNG LONG')"
></head>

<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/style/dangkihoc.css}"/>
    <link rel="stylesheet" th:href="@{/style/quanligiaovien.css}"/>
</head>

<body>
<div id="head">
    <div th:replace="template/template.html :: header"></div>

    <div id="page">
        <div th:replace="template/template.html :: sidebar"></div>
        <div id="right">
            <div class="title">Quản lí giáo viên</div>
            <div class="entry">
                <button id="add">Thêm giáo viên +</button>

                <div style="display: none" class="add1">
                    <form
                            class="table2"
                            th:action="@{/dangKiGiaoVien}"
                            th:object="${newUser}"
                            method="post"
                    >

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example3c">
                                    permissions:
                                </label>
                                <select class="select" th:field="*{permissions}">
                                    <option value="ROLE_Teacher" selected>Teacher</option>

                                    <th:block th:if="${user.permissions == 'ROLE_Admin'}">
                                        <option value="ROLE_TrainingDepartment">
                                            Training Department
                                        </option>
                                        <option value="ROLE_Admin">
                                            Admin
                                        </option>
                                    </th:block>
                                </select>
                                <a
                                        href=""
                                        style="color: red; font-size: 19px; margin-left: 250px"
                                >X</a
                                >
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >name:
                                </label>
                                <input
                                        required
                                        minlength="2"
                                        maxlength="50"
                                        type="text"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{name}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >address:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        maxlength="100"
                                        type="text"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{address}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >email:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        maxlength="45"
                                        type="email"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{email}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >phoneNumber:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        maxlength="50"
                                        type="text"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{phoneNumber}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >peopleID:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        maxlength="50"
                                        type="text"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{peopleID}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >birthday:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        maxlength="50"
                                        type="date"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{birthday}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example4c"
                                >avatar:
                                </label>
                                <input
                                        required
                                        minlength="3"
                                        type="url"
                                        id="form3Example4c"
                                        class="form-control form__input"
                                        th:field="*{avatar}"
                                />
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example3c">
                                    sex:
                                </label>
                                <select class="select" th:field="*{sex}">
                                    <option value="Nam">Nam</option>
                                    <option value="Nu">Nu</option>
                                </select>
                            </div>
                        </div>


                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example3c">
                                    Specialized :
                                </label>
                                <select class="select" name="chuyenNganh">
                                    <th:block th:each="specializeds : ${listSpecialized}">
                                        <th:block
                                                th:if="${user.permissions == 'ROLE_TrainingDepartment' && specializeds.id != 'AD'&& specializeds.id != 'DT'}">
                                            <option
                                                    th:value="${specializeds.id}"
                                                    th:text="${specializeds.name}"
                                            ></option>
                                        </th:block>
                                        <th:block th:if="${user.permissions == 'ROLE_Admin'}">
                                            <option
                                                    th:value="${specializeds.id}"
                                                    th:text="${specializeds.name}"
                                            ></option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="div">
                            <div>
                                <label class="form-label" for="form3Example3c">
                                    Teacher :
                                </label>
                                <select class="select" name="gvcn">
                                    <option value="1">Có</option>
                                    <option value="0">Không</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <button id="submit" type="submit" class="btn btn-primary btn-lg">
                                Register
                            </button>
                        </div>
                    </form>
                </div>

                <br/>

                <div>
                    <table
                            class="grid table-bordered table-striped"
                            border="0"
                            cellspacing="0"
                            style="
                  border-style: none;
                  width: 100%;
                  border-collapse: collapse;
                "
                            id="employeeTable"
                    >
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Chức vụ</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="teacher, iStat : ${listTeacher}">
                            <td th:text="${iStat.index+1}"></td>
                            <td th:text="${teacher.id}"></td>
                            <td
                                    th:text="${userRepository.findById(teacher.getUserId()).get().getName()}"
                            ></td>
                            <td
                                    th:text="${userRepository.findById(teacher.getUserId()).get().getPermissions()}"
                            ></td>
                            <td th:text="${teacher.trangThai}"></td>
                            <td>
                                <button class="btnChiTiet">
                                    Xem chi tiết
                                    <div class="chiTiet" style="display: none">
                                        <table class="table">
                                            <tr>
                                                <td width="40%">Mã sinh viên :</td>
                                                <td th:text="${teacher.id}"></td>
                                            </tr>
                                            <tr>
                                                <td width>Họ tên :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().name}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>Giới tính :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().sex}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>Ngày sinh :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().birthdayStr}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>Điện thoại :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().phoneNumber}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>Email :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().email}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>Chỗ ở :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().address}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td width>CMTND :</td>
                                                <td
                                                        th:text="${userRepository.findById(teacher.getUserId()).get().peopleID}"
                                                ></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img style="
                                    width: 150px;
                                    height: 150px;
                                    object-fit: cover;"
                                                         th:src="${userRepository.findById(teacher.getUserId()).get().avatar}"
                                                    />
                                                </td>
                                                <td>
                                                    <a href=""
                                                    >
                                                        <button style="margin-top: 40px">
                                                            Đóng
                                                        </button>
                                                    </a
                                                    >
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </button>
                                <button class="btnCapNhat">
                                    Cập nhật trạng thái
                                    <div style="display: none" class="capNhat">
                                        <form
                                                th:action="@{/capNhatTrangThaiGV/{index}(index=${iStat.index})}"
                                                method="post"
                                        >
                                            <select
                                                    class="select"
                                                    field="*{trangThai}"
                                                    name="trangThai"
                                            >
                                                <option value="Bình thường">Bình thường</option>
                                                <option value="Đã nghỉ">Đã nghỉ</option>
                                            </select>
                                            <input type="submit"></input>
                                        </form>
                                    </div>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="template/template.html :: footer"></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
        type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"
></script>
<script>
    $(document).ready(function () {
        $("#employeeTable").DataTable({
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1],
                },
            ],
        });
    });
</script>

<script>
    const btnAdd = document.getElementById("add");
    const divAdd = document.querySelector(".add1");

    btnAdd.addEventListener("click", () => {
        if (divAdd.style.display == "block") {
            divAdd.style.display = "none";
        } else {
            divAdd.style.display = "block";
        }
    });
</script>

<script>
    const buttonUpdate = document.querySelectorAll(".btnChiTiet");
    const chitiet = document.querySelectorAll(".chiTiet");

    const btnCapNhat = document.querySelectorAll(".btnCapNhat");
    const capNhat = document.querySelectorAll(".capNhat");

    for (let i = 0; i < buttonUpdate.length; i++) {
        buttonUpdate[i].addEventListener("click", function (e) {
            if (chitiet[i].style.display == "block") {
                chitiet[i].style.display = "none";
            } else {
                chitiet[i].style.display = "block";
            }
        });

        btnCapNhat[i].addEventListener("click", function (e) {
            capNhat[i].style.display = "block";
            /*if (capNhat[i].style.display == "block") {
                } else {
                    capNhat[i].style.display = "block";
                }*/
        });
    }
</script>
</html>
