<!DOCTYPE html>
<html
        lang="vi"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head
        th:replace="template/template.html :: head('TRƯỜNG ĐẠI HỌC THĂNG LONG')"
></head>

<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/style/dangkihoc.css}" />
    <link rel="stylesheet" th:href="@{/style/quanligiaovien.css}" />
</head>

<body>
<div id="head">
    <div th:replace="template/template.html :: header"></div>

    <div id="page">
        <div th:replace="template/template.html :: sidebar"></div>
        <div id="right">
            <div class="title">Quản lí giáo viên</div>
            <div class="entry">
                <button id="add">Thêm giáo viên +</button>
            </div>
            <br />

            <div>
                <table
                        class="grid table table-bordered table-striped"
                        border="0"
                        cellspacing="0"
                        style="border-style: none; width: 100%; border-collapse: collapse"
                        id="employeeTable"
                >
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã giáo viên</th>
                        <th scope="col">Tên giáo viên</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>IT000</td>
                        <td>Nguyễn Việt Anh</td>
                        <td>
                            <select name="id">
                                <option selected="selected" value="146">Chọn</option>
                                <option value="145">Bình thường</option>
                                <option value="144">Về hưu</option>
                                <option value="143">Tạm nghỉ</option>
                            </select>
                        </td>
                        <td><button class="btn1">Xem chi tiết</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="template/template.html :: footer"></div>
</div>
<div class="entry1">
    <table class="table1">
        <tr>
            <td><b style="font-size: 18px">Thông tin giáo viên</b></td>
            <td><a href="" style="color: red; font-size: 20px">x</a></td>
        </tr>
        <tr>
            <td>Mã giáo viên :</td>
            <td th:text="${student.id}"></td>
        </tr>
        <tr>
            <td width>Họ tên :</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td width>Giới tính :</td>
            <td th:text="${user.sex}"></td>
        </tr>
        <tr>
            <td width>Ngày sinh :</td>
            <td th:text="${user.birthdayStr}"></td>
        </tr>
        <tr>
            <td width>Điện thoại :</td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Chủ nghiệm lớp :</td>
            <td>TT32h1</td>
        </tr>
        <tr>
            <td width>Email :</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td width>Chỗ ở :</td>
            <td th:text="${user.address}"></td>
        </tr>
    </table>
    <!-- <div class="avatar">
        <tr>
          <td><img th:src="${user.avatar}" /></td>
        </tr>
      </div> -->
</div>
</body>
<script>
    const buttonUpdate = document.querySelector(".btn1");
    const entry1 = document.querySelector(".entry1");
    const Table = document.querySelector(".table1");

    if (buttonUpdate) {
        buttonUpdate.addEventListener("click", function (e) {
            entry1.style.display = "block";
            console.log("haha");
        });
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
        type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"
></script>
<script>
    $(document).ready(function () {
        $("#employeeTable").DataTable({
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1],
                },
            ],
        });
    });
</script>
</html>