<!DOCTYPE html>
<html
        lang="vi"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head
        th:replace="template/template.html :: head('TRƯỜNG ĐẠI HỌC THĂNG LONG')"
></head>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/style/dangkihoc.css}"/>
    <link rel="stylesheet" th:href="@{/style/thoikhoabieutoantruong.css}"/>

<!--    <style>-->
<!--        .ggChart {-->
<!--            display: none;-->
<!--        }-->
<!--    </style>-->
</head>

<body>
<div id="head">
    <div th:replace="template/template.html :: header"></div>

    <div id="page">
        <div th:replace="template/template.html :: sidebar"></div>
        <div id="right">

            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chọn biểu đồ
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <th:block th:if="${user.permissions == 'ROLE_Admin'}">
                        <a class="dropdown-item" href="#donutchart">Đếm số lượng User</a>
                    </th:block>
                    <a class="dropdown-item" href="#columnchart_DTK">Thống kê điểm trung bình tích lũy</a>
                    <a class="dropdown-item" href="#columnchart_TC">Thống kê tổng số tín chỉ tích lũy</a>
                    <a class="dropdown-item" href="#columnchart_SVGioi">Thống kê sv giỏi</a>
                </div>
            </div>

            <th:block th:if="${user.permissions == 'ROLE_Admin'}">
                <div id="donutchart" class="ggChart"></div>
            </th:block>
            <div id="columnchart_DTK" class="ggChart"></div>
            <div id="columnchart_TC" class="ggChart"></div>
            <div id="columnchart_SVGioi" class="ggChart"></div>

        </div>
    </div>

    <div th:replace="template/template.html :: footer"></div>
</div>
</body>

<script>
    document.querySelectorAll(".dropdown-item").forEach((i, index) => i.addEventListener("click", () => {
        document.querySelectorAll(".ggChart").forEach((j, j_index) => {
            if (index != j_index) {
                j.style.display = "none";
            } else {
                j.style.display = "block";
            }
        })
    }))
</script>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        [#th:block th:if="${user.permissions == 'ROLE_Admin'}"]
        // Đếm số lượng User
        bdTron('Quyền', 'Số lượng', [[${countingUser}]], 'Đếm số lượng User', 750, 400, 'donutchart');
        [/th:block]


            // Thống kê điểm trung bình tích lũy
            bdCot('MSV', 'Điểm', [[${diemTongket}]], "Thống kê điểm trung bình tích lũy", 750, 400, "columnchart_DTK");

        // Thống kê tổng số tín chỉ tích lũy
        bdCot('MSV', 'Tín chỉ', [[${soTinChi}]], "Thống kê tổng số tín chỉ tích lũy", 750, 400, "columnchart_TC");

        // Thống kê sv giỏi
        bdCot('MSV', 'Điểm', [[${svGioi}]], "Thống kê sv giỏi", 750, 400, "columnchart_SVGioi");

    }

    function bdTron(tx, ty, arr, title, width, height, id) {
        var data_donutchart = new google.visualization.DataTable();
        data_donutchart.addColumn('string', tx);
        data_donutchart.addColumn('number', ty);
        data_donutchart.addRows(arr);

        var options_donutchart = {
            title: title,
            'width': width,
            'height': height,
            pieHole: 0.5,
        };

        var donutchart = new google.visualization.PieChart(document.getElementById(id));
        donutchart.draw(data_donutchart, options_donutchart);
    }

    function bdCot(tx, ty, arr, title, width, height, id) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', tx);
        data.addColumn('number', ty);
        data.addColumn({type: 'string', role: 'style'});
        data.addRows(arr);

        var options = {
            title: title,
            width: width,
            height: height,
            bar: {groupWidth: "95%"},
            legend: {position: "none"},
        };

        var chart_TC = new google.visualization.ColumnChart(document.getElementById(id));
        chart_TC.draw(data, options);
    }

</script>
</html>